target/
.idea/
build/
rep/
dist/
mainprogram/
.settings/
**/logs
**/logs/debug.log
*.class
*.exe
**/logs
*.class
*.lock
*.tmp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.iml
*.txt
*.csv
*.project
*.bin
*.classpath
*.zip
*.graphml
*.bib
nb-configuration.xml